
.books {
    background-color: wheat;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding-left: 1em;
    width: min(15em, 200px);
}

#shelf {
    display: flex;
    flex-wrap: wrap;
}

#options {
    display: flex;
    padding-bottom: 1em;
    justify-content: center;
}

#options>button {
    margin-right: 0.5em;
}